.landing-country-card {
  min-height: 250px;
  color: white;
  padding: 40px;
  position: relative;
  background-image: url(https://picsum.photos/id/1056/1000/500);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: end;
  p {
    margin: 0px;
  }
  .temp-title {
    font-size: 70px;
  }
}
.country-title {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
