@import "../../../../constants/breakpoints.scss";

.country-summary-card {
  margin-top: 40px;

  .summary-grid {
    display: flex;
    gap: 20px;

    justify-content: center;
    flex-wrap: wrap;
    .grid-item {
      display: flex;
      background-color: white;
      text-align: center;
      font-size: 18px;
      border-radius: 5px;
      flex-basis: 25%;
      padding: 20px;
      align-items: center;
      justify-content: space-around;
      gap: 10px;
      p {
        margin-top: 10px;
        margin-bottom: 0px;
        font-weight: 900;
      }
    }
  }

  @media (max-width: $md) {
    .summary-grid {
      .grid-item {
        flex-basis: 40%;
      }
    }
  }

  @media (max-width: $xs) {
    .summary-grid {
      .grid-item {
        flex-basis: 100%;
      }
    }
  }
}
